<!DOCTYPE html>
  <html lang="en-US">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="home page-template-default page page-id-592 wp-embed-responsive the7-core-ver-1.15.2 fancy-header-on disabled-hover-icons dt-responsive-on header-side-left sticky-header fade-header-animation accent-gradient srcset-enabled btn-flat custom-btn-color custom-btn-hover-color bold-icons  first-switch-logo-left first-switch-menu-right second-switch-logo-left second-switch-menu-right right-mobile-menu layzr-loading-on popup-message-style dt-fa-compatibility the7-ver-7.2.0 wpb-js-composer js-comp-ver-5.6 vc_responsive outlined-portfolio-icons">
    <div id="load" class="spinner-loader">
      <div class="load-wrap"></div>
    </div>
    <div id="page">
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      {{- block "main" . }}{{ end }}

      {{- partial "footer.html" . }}
    </div>

    {{- partial "scripts.html" . }}

    {{- partial "pwsp.html" . }}
  </body>
</html>