<footer id="footer" class="footer solid-bg">  
  <div id="bottom-bar" class="logo-left" role="contentinfo">
    <div class="wf-wrap">
      <div class="wf-container-bottom">
        <div id="branding-bottom"><a href="/"><img class=" preload-me" src="/images/main-adaptech-logo_A_white.png" srcset="/images/main-adaptech-logo_A_white.png 73w" width="36" height="35"   sizes="36.5px" alt="Adaptech Group" /></a></div>
        <div class="wf-float-right">
          <div class="mini-nav"><div class="menu-select"><span class="customSelect1"><span class="customSelectInner">Useful Links</span></span></div></div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="scroll-top"><span class="screen-reader-text">Go to Top</span></a>